package ${basePackage}.${moduleName}.controller;

import java.util.Arrays;
import java.util.List;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.wshsoft.common.annotation.SysLog;
import com.wshsoft.common.enums.BusinessType;
import com.wshsoft.common.constant.SysConstants;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.${ClassName}Service;
import com.wshsoft.common.core.controller.BaseController;
import com.wshsoft.common.core.domain.AjaxResult;
import com.wshsoft.common.utils.poi.ExcelUtil;
import com.wshsoft.common.core.text.Convert;
#if($table.crud || $table.sub)
import com.wshsoft.common.core.page.TableDataInfo;
#elseif($table.tree)
import com.wshsoft.common.utils.StringUtils;
import com.wshsoft.common.core.domain.Ztree;
#end

/**
 * ${functionName}Controller
 * 
 * @author ${author}
 * @date ${datetime}
 */
 
@Controller
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller extends BaseController {

    private String prefix = "${moduleName}/${businessName}";

    @Autowired
    private ${ClassName}Service ${className}Service;

    @RequiresPermissions("${permissionPrefix}:view")
    @GetMapping()
    public String ${businessName}() {
        return prefix + "/list";
    }

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    @RequiresPermissions("${permissionPrefix}:list")
    @PostMapping("/list")
    @ResponseBody
    public TableDataInfo list(${ClassName} ${className}) {
        startPage();
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return getDataTable(list);
    }
#elseif($table.tree)
    /**
     * 查询${functionName}树列表
     */
    @RequiresPermissions("${permissionPrefix}:list")
    @PostMapping("/list")
    @ResponseBody
    public List<${ClassName}> list(${ClassName} ${className}) {
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return list;
    }
#end

    /**
     * 导出${functionName}列表
     */
    @RequiresPermissions("${permissionPrefix}:export")
    @SysLog(title = "${functionName}", businessType = BusinessType.EXPORT)
    @PostMapping("/export")
    @ResponseBody
    public AjaxResult export(${ClassName} ${className}) {
        List<${ClassName}> list = ${className}Service.list(new QueryWrapper<>());
        //List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        ExcelUtil<${ClassName}> util = new ExcelUtil<${ClassName}>(${ClassName}.class);
        return util.exportExcel(list, "${businessName}");
    }

#if($table.crud || $table.sub)
    /**
     * 新增${functionName}
     */
    @GetMapping("/add")
    public String add() {
        return prefix + "/add";
    }
#elseif($table.tree)
    /**
     * 新增${functionName}
     */
    @GetMapping(value = { "/add/{${pkColumn.javaField}}", "/add/" })
    public String add(@PathVariable(value = "${pkColumn.javaField}", required = false) Long ${pkColumn.javaField}, ModelMap mmap) {
        if (StringUtils.isNotNull(${pkColumn.javaField})) {
            mmap.put("${className}", ${className}Service.select${ClassName}ById(${pkColumn.javaField}));
        }
        return prefix + "/add";
    }
#end

    /**
     * 新增保存${functionName}
     */
    @RequiresPermissions("${permissionPrefix}:add")
    @SysLog(title = "${functionName}管理", businessType = BusinessType.INSERT)
    @PostMapping("/add")
    @ResponseBody
    public AjaxResult addSave(${ClassName} ${className}) {
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())   
        if (SysConstants.BUSS_NAME_NOT_UNIQUE.equals(${className}Service.check${JavaField}Unique(${className}))){
            return error("新增${functionName}'" + ${className}.get${JavaField}() + "'失败，${functionName}已存在");
        }
#end
#end
       // return toAjax(${className}Service.save(${className}));
	  return toAjax(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     */
    @GetMapping("/edit/{${pkColumn.javaField}}")
    public String edit(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField}, ModelMap mmap) {
	    ${ClassName} ${className} = ${className}Service.select${ClassName}ById(${pkColumn.javaField});
        mmap.put("${className}", ${className});
        return prefix + "/edit";
    }

    /**
     * 修改保存${functionName}
     */
    @RequiresPermissions("${permissionPrefix}:edit")
    @SysLog(title = "${functionName}管理", businessType = BusinessType.UPDATE)
    @PostMapping("/edit")
    @ResponseBody
    public AjaxResult editSave(${ClassName} ${className}) {
    #if($table.crud)
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())   
        if (SysConstants.BUSS_NAME_NOT_UNIQUE.equals(${className}Service.check${JavaField}Unique(${className}))) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，参数键名已存在");
        }
#end
#end
        return toAjax(${className}Service.updateById(${className}));
    #elseif($table.tree)
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())       
        if (SysConstants.BUSS_NAME_NOT_UNIQUE.equals(${className}Service.check${JavaField}Unique(${className}))) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，${functionName}已存在");
        }
        else if (${className}.getParentId().equals(${className}.get${ClassName}Id())) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，上级${functionName}不能是自己");
        }
#end
#end
        return toAjax(${className}Service.update${ClassName}(${className}));
     #end	
   }

    /**
     * 修改保存${functionName}
     */
    @RequiresPermissions("${permissionPrefix}:edit")
    @SysLog(title = "${functionName}", businessType = BusinessType.UPDATE)
    @PostMapping("/edit")
    @ResponseBody
    public AjaxResult editSave(${ClassName} ${className})
    {
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())   
        if (SysConstants.BUSS_NAME_NOT_UNIQUE.equals(${className}Service.check${JavaField}Unique(${className}))) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，参数键名已存在");
        }
#end
#end
#if($table.tree)
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())       
        if (SysConstants.BUSS_NAME_NOT_UNIQUE.equals(${className}Service.check${JavaField}Unique(${className}))) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，${functionName}已存在");
        }
        else if (${className}.getParentId().equals(${className}.get${ClassName}Id())) {
            return error("修改${functionName}'" + ${className}.get${JavaField}() + "'失败，上级${functionName}不能是自己");
        }
#end
#end
#end
        return toAjax(${className}Service.update${ClassName}(${className}));
    }
    
#if($table.crud || $table.sub)
    /**
     * 删除${functionName}
     */
    @RequiresPermissions("${permissionPrefix}:remove")
    @SysLog(title = "${functionName}", businessType = BusinessType.DELETE)
    @PostMapping( "/remove")
    @ResponseBody
    public AjaxResult remove(String ids) {
        return toAjax(${className}Service.removeByIds(Arrays.asList(Convert.toStrArray(ids))));
	//return toAjax(${className}Service.delete${ClassName}ByIds(ids));
    }
#elseif($table.tree)
    /**
     * 删除
     */
    @RequiresPermissions("${permissionPrefix}:remove")
    @SysLog(title = "${functionName}管理", businessType = BusinessType.DELETE)
    @GetMapping("/remove/{${pkColumn.javaField}}")
    @ResponseBody
    public AjaxResult remove(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField}) {
        return toAjax(${className}Service.delete${ClassName}ById(${pkColumn.javaField}));
    }
#end

#if($table.tree)

    /**
     * 选择${functionName}树
     */
#set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
    @GetMapping(value = { "/select${BusinessName}Tree/{${pkColumn.javaField}}", "/select${BusinessName}Tree/" })
    public String select${BusinessName}Tree(@PathVariable(value = "${pkColumn.javaField}", required = false) Long ${pkColumn.javaField}, ModelMap mmap) {
        if (StringUtils.isNotNull(${pkColumn.javaField})) {
            mmap.put("${className}", ${className}Service.select${ClassName}ById(${pkColumn.javaField}));
        }
        return prefix + "/tree";
    }

    /**
     * 加载${functionName}树列表
     */
    @GetMapping("/treeData")
    @ResponseBody
    public List<Ztree> treeData() {
        List<Ztree> ztrees = ${className}Service.select${ClassName}Tree();
        return ztrees;
    }
#end
#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())
    /**
     * 校验${functionName}名称
     */
    @PostMapping("/check${JavaField}Unique")
    @ResponseBody
    public String check${JavaField}Unique(${ClassName} ${className}) {
        return ${className}Service.check${JavaField}Unique(${className});
    }
#end
#end
}
