package ${basePackage}.${moduleName}.service;

import ${basePackage}.${moduleName}.domain.${ClassName};
import java.util.List;
#if($table.tree)
import com.wshsoft.common.core.domain.Ztree;
#end
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${functionName} Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
 
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
     * 根据${functionName}ID查询信息
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}信息
     */
    public ${ClassName} select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});
    
    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * 新增${functionName}信息
     * 
     * @param ${className} ${functionName}信息
     * @return 结果
     */
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * 修改${functionName}信息
     * 
     * @param ${className} ${functionName}信息
     * @return 结果
     */
    public int update${ClassName}(${ClassName} ${className});
    
    /**
     * 批量删除${functionName}
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    public int delete${ClassName}ByIds(String ids);

    /**
     * 删除${functionName}信息
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    public int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});
    
#if($table.tree)    
    /**
     * 查询${functionName}树列表
     * 
     * @return 所有${functionName}信息
     */
    public List<Ztree> select${ClassName}Tree();

#foreach ($column in $columns)
#if($column.isUnique())
#set($JavaField=$column.UpCaseField())
    /**
     * 校验${functionName}名称是否唯一
     * 
     * @param ${className} ${functionName}信息
     * @return 结果
     */
    public String check${JavaField}Unique(${ClassName} ${className});
#end
#end        
    /**
     * 查询${functionName}个数
     * 
     * @param parentId 父${functionName}ID
     * @return 结果
     */
    public int select${ClassName}Count(Long parentId);

    /**
     * 查询${functionName}是否存在
     * 
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果 true 存在 false 不存在
     */
    public boolean check${ClassName}ExistUse(${pkColumn.javaType} ${pkColumn.javaField});   
    
#end
}